{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-rounded" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=300px width=200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a UT graduate.</h3>
        <h3>I majored in Human Biology and minored in Business.</h3>
        <h3>I love all things science and maths.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="Resume.pdf" target="_blank">resume</a>.</h3>
        <h3>Contact me at <a href="http://instagram.com/jennifern.nguyen">@instagram</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
